*{
    box-sizing: border-box;
}
body{
    background-color: #237A81;
}

.digital{
    width: 300px;
    height: auto;
    background-color: black;
    /* margin: 0 auto; */
    padding: 5px 0 ;
    border: 15px solid white;
    border-radius: 20px;

}

.number{
    color:#13F565;
    padding: 0;
    margin-left: 0;
    
}

.figure{
    font-size: 70pt;
    font-family:  'Rockwell condensed', Georgia, 'Times New Roman', Times, serif;
    line-height: 0.5;

}
.leg{
    width: 20px;
    height: 10px;
    background-color: #242424;
    display: inline-block;
    margin-left: -100px;
    margin-right: -100px;
    
}
.leg-container{
margin-top: -5px;

}

.shadow{
    width: 250px;
    height: 210px;
    background-color: #184f539d;
    -ms-transform: skewX(9deg); /* IE 9 */
  transform: skewX(9deg); /* Standard syntax */
  margin-top: 210px;
  margin-right: 0px;
  position: absolute;
  z-index:-1;
  margin-bottom: 120px;
}

.today{
    margin-top: 90px;

}

.card-panel{
    border-radius: 10px;
}
marquee{
animation-name: example;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;

}

@keyframes example {
  0%   {background-color: black;}
  50%  {background-color:  #237A81}
  100%  {background-color: #13F565;}
 
}

.both-containers{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px; 
}
/* @media only screen and (max-width: 425px){
    .both-containers{
        position: absolute;
          top: 35%;
          left: 15%;
    }
} */